

#times{
    text-align: center;
    position: relative;
    height: 100%;
    top: 0%;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

span{
    padding: 10px;
}


html{
    background-color: #08041c;
    color: whitesmoke;
    font-size: 50px;
}