
#times{
    text-align: center;
    position: relative;
    height: min-content;
    top: 0%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 50px;
    left:20px;
}

.aTime{
    padding: 10px;
}

.lastChecked{
    background-color: #12093d;
}


html{
    background-color: #08041c;
    color: whitesmoke;
}

input{
    margin:20px;
}